div[ng-view].ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
div[ng-view].ng-leave {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

div.nonefound {
    background-color: yellow;
    padding: 20px;
    display: none;
    font-size: 20px;
    font-family: 'Arima Madurai', cursive;
}
p.search:hover + .nonefound {
    display: block;
}

/* Animation code for jumbotron */
@keyframes jumbotron {
    0%   {background-color: #0040ff;}
    10%  {background-color: #0080ff;}
    20%  {background-color: #00bfff;}
    30%  {background-color: #00ffff;}
    40%  {background-color: #00ffbf;}
    50%  {background-color: #00ff80;}
    60%  {background-color: #00ff40;}
    70%  {background-color: #bfff00;}
    80%  {background-color: #ffff00;}
    90%  {background-color: #ffbf00;}
    100% {background-color: #ff8000;}
}

/* animation element: */
.jumbotron {
    /*width: 100px;
    height: 100px;*/
    background-color: #0080ff;
    animation-name: jumbotron;
    animation-duration: 11s;
    animation-iteration-count: 3;

}
