div[ng-view].ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
div[ng-view].ng-leave {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

div.nonefound {
    background-color: yellow;
    padding: 20px;
    display: none;
    font-size: 20px;
    font-family: 'Arima Madurai', cursive;
}
p.search:hover + .nonefound {
    display: block;
}

/* Animation code for jumbotron */
@keyframes jumbotron {
    0%   {background-color: #0040ff;}
    10%  {background-color: #0080ff;}
    20%  {background-color: #00bfff;}
    30%  {background-color: #00ffff;}
    40%  {background-color: #00ffbf;}
    50%  {background-color: #00ff80;}
    60%  {background-color: #00ff40;}
    70%  {background-color: #bfff00;}
    80%  {background-color: #ffff00;}
    90%  {background-color: #ffbf00;}
    100% {background-color: #ff8000;}
}

/* animation element: */
.jumbotron {

    background-color: #0080ff;
    animation-name: jumbotron;
    animation-duration: 11s;
    animation-iteration-count: 3;

}


/*Animation code for About page flood */
#flood {
    width: 100%;
    height: 50px;
    background-color: rgba(127,251,208,0.3);
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
    animation-name: flood;
    animation-delay: 14s;
    animation-duration: 10s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes flood {
    0%   {background-color:rgba(125,255,212,0.3); top:0px; height:100px;}
    10%  {background-color:rgba(125,254,211,0.3); top:0px; height: -200px;}
    20%  {background-color:rgba(126,253,210,0.3); top:0px; height: -300px;}
    30%  {background-color:rgba(127,252,209,0.3); top:0px; height: -400px;}
    40%  {background-color:rgba(127,251,208,0.3); top:0px; height: -500px;}
    50%  {background-color:rgba(127,251,208,0.3); top:0px; height: -600px;}
    60%  {background-color:rgba(127,251,208,0.3); top:0px; height: -700px;}
    70%  {background-color:rgba(127,251,208,0.3); top:50px; height: -600px;}
    80%  {background-color:rgba(127,251,208,0.3); top:0px; height: -500px;}
    90%  {background-color:rgba(127,251,208,0.3); top:0px; height: -400px;}
    100% {background-color:rgba(127,251,208,0.3); top:0px; height: -300px;}

}

/* Standard syntax */
@keyframes flood {
  0%   {background-color:rgba(125,255,212,0.3); top:0px; height:100px;}
  10%  {background-color:rgba(125,254,211,0.3); top:0px; height: -200px;}
  20%  {background-color:rgba(126,253,210,0.3); top:0px; height: -300px;}
  30%  {background-color:rgba(127,252,209,0.3); top:0px; height: -400px;}
  40%  {background-color:rgba(127,251,208,0.3); top:0px; height: -500px;}
  50%  {background-color:rgba(127,251,208,0.3); top:50px; height: -600px;}
  60%  {background-color:rgba(127,251,208,0.3); top:0px; height: -700px;}
  70%  {background-color:rgba(127,251,208,0.3); top:0px; height: -600px;}
  80%  {background-color:rgba(127,251,208,0.3); top:0px; height: -500px;}
  90%  {background-color:rgba(127,251,208,0.3); top:0px; height: -400px;}
  100% {background-color:rgba(127,251,208,0.3); top:0px; height: -300px;}
}
