<div ng-app class="jumbotron" ng-controller="MainCtrl">

  <h1>A Book App</h1>

    <img src="images/yeoman.png" alt="I'm a Yeoman!"><br>
    <p>It's a lovely time to read.</p>

    <p class="lead">
    <div ng-init="saledate='08/01/16'">
        <p>
          <label for="saledate">On Sale Date:
            <input type="text" name="saledate" ng-model="saledate">
            <h3>{{saledate}}</h3>
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()">New Books Information</p>
</p>
<dl ng-repeat="group in books.Product_Group">
  <dt>Title</dt>
  <dd>{{group.Product_Group_Title}}</dd>
  <dt>Versions</dt>
  <dd>
    <dl ng-repeat="version in group.Products">
      <dt>Author</dt>
      <dd>{{version.Author1}}</dd>
      <dd>{{version.Format}}</dd>
      <dd><img ng-src="{{version.CoverImageURL_Small}}"> </dd>

    </dl>
  </dd>
</dl>
 </div>

<div class="search">
    <label>Search: </label>
    <input ng-model="query" placeholder="Search by title" autofocus>
  </div>

<label class="formgroup">Sort By:
  <select ng-model="saledateOrder">
    <option value="Title">Title</option>
    <option value="Author1">Author</option>
    <option value="Format">Format</option>
    <option value="Imprint">Imprint</option>
  </select>
</label>


</div>
