<div class="jumbotron">
  <h1>Hello Everyone!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Not a Yeoman!"><br>
    Hope you're having a lovely summer.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Request Sun<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!--added the below-->
<div ng-app ng-init="firstnum=1;secondnum=2">
  <input type="number" min="0" ng-model="firstnum">
plus
  <input type="number" min="0" ng-model="secondnum">
    equals
  <!--<b>{{firstnum + secondnum}}</b>-->
  <span class="label label-success">{{firstnum + secondnum}}</span>
</div>
<!--end of addition-->

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
